@page "/todo"
@using Blazor.Components

<h1>Todo List</h1>

<TodoList Items="@todoItems" OnAdd="@(e => AddItem(e))" OnRemove="@(index => RemoveItem(index))" />

	@code {
    private List<string> todoItems = new List<string>();

    private void AddItem(string newItemTitle)
    {
        todoItems.Add(newItemTitle);
    }

    private void RemoveItem(int index)
    {
        todoItems.RemoveAt(index);
    }
	}
